/*BEGIN PS3 Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
  /* The background image is basically the base for the controller's skin. The 
  PS3 controller's skin can be found at http://mrmcpowned.com/gamepad/ps3-assets/base.png
  and you can observe it as an example. The sticks, buttons, and directional arrows are missing
  because their appropriate elements will be incorperated when their styling is defined below.
  The entirity of the skin's visual styling is done via background images and CSS sprites. */ 
  background: url(ps3-assets/base.png); 
  height: 483px;
  width: 785px;
}
.custom.disconnected { /* This class shows an image when the controller is disconnected */
  background: url(ps3-assets/base-disconnected.png);
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
  display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
  width: 757px;
  height: 46px;
  position: absolute;
  left: 14px;
  top: 13px;
}
.custom .trigger{/* These are the actual triggers themselves */
  width:55px;
  height:45px;
  position: absolute;
  background: url(ps3-assets/triggers.png);
  opacity: 0;
}
/* The left and right classes below are used to position the triggers
within the div they're contained in. Since their positions is realtive
to the size of the parent element, we simply resize the parent element 
above to achieve the desired position. */
.custom .trigger.left{ 
  background-position: 0px 0px;
  top: 0px;
  left: 0px;
}
.custom .trigger.right{
  background-position: -56px 0px;
  top: 0px;
  right: 0px;
}

/* The bumpers follow the same methodology as the triggers in terms of
placement */

.custom .bumpers{
  width: 757px;
  height: 34px;
  position: absolute;
  left: 14px;
  top: 69px;
  opacity: 1;
}

.custom .bumper{
  width: 55px;
  height: 34px;
  background: url(ps3-assets/triggers.png);
  position: absolute;
}

.custom .bumper.left{
/* Call me lazy or smart, but why should I make 2 bumpers when they're symmetrical
and I can just rotate them in the browser? Also, note that you most likely won't need
to use a browser speficic prefix unless it's something that is indeed browser specific.
NOTE: CLR Browser is basically chrome, so you use '-webkit-' as the browser prefix. */
  background-position: 112px 46px;
  top: 0px;
  left: 0px;
}
.custom .bumper.right{
  background-position: 55px 46px;
  top: 0px;
  right: 0px;
  
}

.custom .bumper.left.pressed{
  background-position-y: 0px;
}

.custom .bumper.right.pressed{
  background-position-y: 0px;
}

/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
  position: absolute;
  width: 174px;
  height: 13px;
  top: 167px;
  left: 308px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back{
  background: url(ps3-assets/menus.png);
  width: 41px;
  height: 24px;
}

.custom .start{
  background: url(ps3-assets/menus.png);
  width: 45px;
  height: 28px;
}

.custom .back.pressed{
  background-position-y: -30px;
}

.custom .start.pressed{
  background-position-y: -30px;
}

.custom .back{
  float: left;
  width: 41px;
}
.custom .start{
  float: right;
  width: 45px;
  background-position: 45px 0;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
  position: absolute;
  width: 163px;
  height: 163px;
  top: 92px;
  left: 526px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
  position: absolute;
  width:50px;
  height:50px;
  background: url(ps3-assets/face-buttons.png);
}
.custom .button.pressed{
  background-position-y: -52px;
  margin-top: 5px;
}
.custom .a{
  background-position: 50px 0;
  top: 113px;
  left: 57px;
}
.custom .b{
  background-position: 102px 0;
  top: 57px;
  right: 0px;
}
.custom .x{
  background-position: 0 0;
  top: 57px;
}
.custom .y{
  background-position: -52px 0;
  left: 57px;
}
/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies 
the CSS inline. */
.custom .sticks{
  position: absolute;
  width: 325px;
  height: 112px;
  top: 241px;
  left: 230px;
}
.custom .stick{
  position: absolute;
  background: url(ps3-assets/thumbs.png);
  height:112px;
  width: 112px;
}
.custom .stick.pressed.left{
  background-position-x: -114px;
}
.custom .stick.pressed.right{
  background-position-x: -228px;
}
.custom .stick.left{
  top: 0;
  left: 0;
}
.custom .stick.right{
  top: calc(100% - 105px);
  left: calc(100% - 105px);
}
/* Dpad possitioning and sizing */
.custom .dpad{
  position: absolute;
  width: 119px;
  height: 119px;
  top: 115px;
  left: 118px;
}
.custom .face{
  background: url(ps3-assets/dpad.png);
  position: absolute;
}
.custom .face.up, .custom .face.down{
  width: 40px;
  height: 49px;
}
.custom .face.left, .custom .face.right{
  width: 48px;
  height: 41px;
}
.custom .face.up{
  left: 39px;
  top: 0;
  background-position: 91px 0px;
}
.custom .face.down{
  left: 39px;
  top: 70px;
  background-position: -50px 0;
}
.custom .face.left{
  top: 40px;
  left: 0;
  background-position: 0px 0;
}
.custom .face.right{
  top: 40px;
  right: 0px;
  background-position: 48px 0;
}
.custom .face.pressed{
  margin-top: 3px;
  background-position-y: 51px;
}
/*END PS3 Controller Styling*/